<ion-view view-title="Premium Savings" cache-view="false" id="bpSavings">
	
	<ion-content>
		<div ng-if="showError" class="noDataError" style=""><img src="img/icon_sad-face.svg" class="noDataImg"></div>

		<div ng-if="showSuccess">
		
		 <ion-list type="list-inset" class="savings-list health-overview">  
			<div class="chart" id="pbpchart"></div>

			<div class="below-display">
				<div class="individual-display" ng-repeat="dat in datas"><div class="small-div" style="border : 1px solid {{colors[$index]}};background : {{colors[$index]}}"> </div><div class="content-div">{{dat.label}}</div></div>
				
			</div>
			<div class="total-saved dynamic-saved" style="background : {{presentColor}}">Total Premium Saved</div>

			
			<div ng-if="categories" fusioncharts width="100%" height="180" type="msline" chart="{{attrs}}" categories="{{categories}}" dataset="{{dataset}}"></div>
<div  style="margin-top:10%;">
	<div class="sub-footer" >
		<img class="pre-img" src="img/icons/icon-premiumsaving-status.svg"/>
		<div class="division pre-p">PREFFERED PLUS</div>
		<div class="division pre" id ="preffered">PREFFERED
		</div>
		<div class="division st-plus">STANDARD PLUS
		</div>
		<div class="division st" >STANDARD
		</div>
		<div class="division sub-st" id="sub_standard">SUB STANDARD
	</div>
		
</div>
<div>
	<div style="float:left;margin-left:23%;height:10px;width:10px;background:#00A652;margin-top:5px;margin-right:5px;"></div><div style="float:left;color: #00A652;  
    font-weight: bold;
    font-size: 10px;">Current BP</div><div style="float:left;height:10px;width:10px;background:#EECB77;margin-top:5px;margin-right:5px;margin-left:4%;"></div><div style="float:left;font-weight: bold;
    font-size: 10px;color:#EECB77">BP at Policy issue date</div>
</div>
</div>
			
			
			 
	  </ion-list>
		</div>
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-assertive app-footer" style="width:102%;margin-left:-4px;">
	<div class="tabs-div" style="float:left;">
		<div class="gained-points"><p>Health credits gained</p><h3>{{bpdatas.healthCreditsGained | limitTo : 5}}</h3></div>
		<div class="next-status"><p>Maximum Health Credits</p><h3>{{bpdatas.maxHealthCredits}}</h3></div>
		<div class="current-status"><p>BP target</p><h3>{{bpdatas.sysbpNextCredit}}/{{bpdatas.diabpNextCredit}}</h3></div>
	</div>
  </ion-footer-bar> 

</ion-view>



