<ion-view view-title="Health Tips" id="healthTips" cache-view="false">
  <ion-content class="">
 
  <!-- <img class="health-tips-img" src="img/download.jpg">
  <br/>
  <div class="health-tips-main-div">
   	<h3>{{data.heading}}</h3>
   	<p>{{data.shortDesc}}</p>
  
   	<ul class="short-desc-list">
   		<li ng-repeat="item in data.impLi track by $index"><span>{{item}}<span></li>
   	</ul>
   	<br/>
   	<p class="health-tips-p">{{data.content}}</p>
  </div> -->

<img src="{{imgUrl}}" width="100%" height="300">
		<div class="">
			<div class="item item-text-wrap">
				<p class="newsHead">{{heading }}</p>
				<p class="newsDate">{{ hdate}}</p>
				<p class="newsContent">{{ content }}</p>
			</div>
		</div>
  </ion-content>
  <!-- <ion-footer-bar align-title="left" class="bar-assertive">
			<div class="row" style="text-align: center;">
				<a class="col footerBorder" href="#/app/myPolicies">
					<img class="footerImg" src="img/icons/icon-footer-mypolicies__selected.svg" />
					<p class="footerText footerText1">MY POLICIES</p>
				</a>
				<a class="col footerBorder" href="#/app/myFitDevice">
					<img class="footerImg" src="img/icons/icon-footer-mydivices.svg" />
					<p class="footerText">FITNESS DEVICES</p>
				</a>
				<a class="col footerBorder" href="#/app/healthfitness">
					<img class="footerImg" src="img/icons/icon-footer-healthoverview.svg" />
					<p class="footerText">HEALTH OVERVIEW</p>
				</a>

				<a class="col footerBorder" href="#/app/newsFeed">
					<img class="footerImg" src="img/icons/icon-footer-newsfeed.svg" />
					<p class="footerText">NEWS FEED</p>
				</a>

				<a class="col" href="#/app/myProfile">
					<img class="footerImg" src="img/icons/icon-footer-profile.svg" />
					<p class="footerText">MY PROFILE</p>
				</a>
			</div>
		</ion-footer-bar>
</ion-view> -->
