<ion-view name="New Password" cache-view="false" hide-nav-bar="true" id="newPass">
  
  
  <ion-content class="signincontent">
	<div class="headigncontent">
            <h3>New Password</h3>
        </div>	
	
	<div class="loginform">		
		<form id="ChangePassConfirm" name="ChangePassConfirm" ng-submit="ChangePassConfirm.$valid && submitted && confirmNewPass(Newpassword,OTP);" novalidate="">
			<span style="color:#3dd582;text-align:center">{{errorMessage}}</span>  
		  <div class="list">
			<label class="item item-input" style="border-top:0px;border-bottom:0px;">	
			  
			  <input  type="password" name="Newpassword" placeholder="New password" ng-model="Newpassword"  class="iconc"  required />
			</label>	
			<p class="invalidMessageSignup" ng-show="submitted && ChangePassConfirm.Newpassword.$error.required">Enter Password</p>

			<label class="item item-input" style="border-top:0px;border-bottom:0px;">			
				
			  <input  type="text" name="OTP" placeholder="OTP" ng-model="OTP" class="iconc" required />
			</label>	
			<p class="invalidMessageSignup" ng-show="submitted && ChangePassConfirm.OTP.$error.required">Enter OTP</p>
		  </div>
			<button class="button button-block button-positive" ng-click="submitted=true">Submit</button>			
		</form>			
	</div>
	
	<div class="backbutton" ng-click="myGoBack()" >
		<img src="img/icon_back.svg"  />
	</div>
	
  </ion-content>
</ion-view>
