<ion-view view-title="" cache-view="false" id="newsFeedDetails">

    <ion-content class="">
		<img src="img/download.jpg" width="100%">
		<div class="">
			<div class="item item-text-wrap">
				<p class="newsHead">{{Headline }}</p>
				<p class="newsDate">{{ newsFeedDate | date:' MMM d, y'}}</p>
				<p class="newsContent">{{ MessageBody }}</p>
			</div>
		</div>
    </ion-content>
	<!-- <ion-footer-bar align-title="left" class="bar-assertive">
			<div class="row" style="text-align: center;">
				<a class="col footerBorder" href="#/app/myPolicies">
					<img class="footerImg" src="img/icons/icon-footer-mypolicies.svg" />
					<p class="footerText">MY POLICIES</p>
				</a>
				<a class="col footerBorder" href="#/app/myFitDevice">
					<img class="footerImg" src="img/icons/icon-footer-mydivices.svg" />
					<p class="footerText">FITNESS DEVICES</p>
				</a>
				<a class="col footerBorder" href="#/app/myhealthoverviewdetails">
					<img class="footerImg" src="img/icons/icon-footer-healthoverview.svg" />
					<p class="footerText">HEALTH OVERVIEW</p>
				</a>

				<a class="col footerBorder" href="#/app/newsFeed">
					<img class="footerImg" src="img/icons/icon-footer-newsfeed.svg" />
					<p class="footerText">NEWS FEED</p>
				</a>

				<a class="col" href="#/app/myProfile">
					<img class="footerImg" src="img/icons/icon-footer-profile.svg" />
					<p class="footerText">MY PROFILE</p>
				</a>
			</div>
		</ion-footer-bar> -->
</ion-view>