<ion-view view-title="Preventive Health Checks" cache-view="false" id="screeningAndPreventionDetails">

    <ion-content class="">
		      <round-progress-bar></round-progress-bar>
		      <div class="doing-well-div"><span class="doing-well-txt">Submitted Health Checks</span></div><br/>
		<div class="table-responsive">
		      <table class="table">
		      	<tr>
		      		<th>DATE</th>
		      		<th>TYPE OF CHECK</th>
		      		<th>VIEW</th>
		      	</tr>
		      	<tr ng-repeat="data in preventiveHealthChecksDisplay">
		      		<td>{{data.date}}</td>
		      		<td>{{data.typeOfCheck}}</td>
		      		<td><span class="glyphicon glyphicon-paperclip"></span></td>
		      	</tr>
		      </table>
		  </div>
    </ion-content>
	<ion-footer-bar align-title="left" class="bar-assertive app-footer">
		<button class="button button-block button-positive">Submit New Doc's</button>
  </ion-footer-bar> 
</ion-view>