<ion-view view-title="Vaccination" cache-view="false" id="preventiveHealthChecks">

    <ion-content class="">
		      <round-progress-bar></round-progress-bar>
		      <div class="doing-well-div"><span class="doing-well-txt">Submitted Vaccination</span></div><br/>
		<div class="table-responsive">
		      <table class="table">
		      	<tr>
		      		<th>DATE</th>
		      		<th>TYPE OF VACCINATION</th>
		      		<!-- <th>VIEW</th> -->
		      	</tr>
		      	<tr ng-repeat="data in vaccinationsDisplay">
		      		<td>{{data.EffectiveDate}}</td>
		      		<td>{{data.SubactivityName}}</td>
		      		<!-- <td><span class="glyphicon glyphicon-paperclip"></span></td> -->
		      	</tr>
		      </table>
		  </div>
    </ion-content>
    <a href="#/app/newVaccination">
	<ion-footer-bar align-title="left" class="bar-assertive app-footer">
		<button class="button button-block button-positive">Submit New Doc's</button>
  </ion-footer-bar> 
</a>
</ion-view>